h1{
    background-color: rgba(12, 201, 235, 0.705);
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
    color: white;
    width: 300px;
    margin: 0 auto;

}
img{
        margin: 8px;
        width: 250px;
        height: auto;
}
p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;

}
ul{
    font-size: 18px;
}
h2{
    background-color: rgba(240, 115, 12, 0.548);
    color: black;
    padding: 8px;
    margin: 8px 0;
}
ol{
    font-weight: 550;
    font-size: 18px;
}
li{
    margin: 10px;
    padding: 10px;
}